body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(65, 31, 31);
    gap: 50px;
    font-family: sans-serif;
}

.clock {
    width: 200px;
    height: 200px;
    border: 12px solid rgb(138, 138, 138);
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle, #222, #000);
    box-shadow: 0 0 3px 5px rgba(3, 3, 3, 0.2);
}
.clock::before{
    content: "";    
    position: absolute;
    width: 120px;
    height: 600px;
    border-radius: 30px;
    background-color: silver;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.numbers span {
    position: absolute;
    transform: rotate(calc(var(--i) * 30deg));
    inset: 12px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.center-dot {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hand {
    position: absolute;
    width: 50%;
    height: 4px;
    background: white;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    border-radius: 4px;
}

.hour {
    width: 30%;
    height: 6px;
    background: #ffcc00;
}

.min {
    background: #00ddff;
}

.sec {
    width: 45%;
    background: red;
}
*{
  margin: 0;
  padding: 0;
}
.box{
  background-color: rgb(35, 78, 35);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 30px black;
}
.btn{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  text-align: center;
}
.btn button{
  padding: 30px;
  background-color: rgb(49, 88, 57);
  border-radius: 20px;
  box-shadow: inset o 3px 50px black;
  font-size: larger;
}
.equal{
  grid-row: 4/6;
  grid-column: 4;
}
.zero{
  grid-column: 1/3;
  grid-row: 5;
}
.screen{
  background-color: rgb(52, 59, 59);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
}
.screen input{
  width: 90%;
  height: 50px;
  font-size: larger;
  box-shadow: 0 3px 50px white;
}