*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(63, 62, 62);
}
.search img{
  width: 50px;
  height: 50px;
}
.card{
  width: 90%;
  max-width: 470px;
  background-color: grey;
  text-align: center;
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 20px;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  margin-bottom: 50px;
}
.search button{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 50px;
}
.details{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col p{
  font-size: larger;
  font-weight: bolder;
}
.col img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}
.weather-icon{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.weather{
  display: none;
}
.error{
  display: none;
}