*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(14, 12, 12);
  padding: 50px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  background-color: rgb(36, 68, 68);
  padding: 70px;
  color: rgb(238, 196, 145);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form .work{
  height: 100px;
}
.but{
  font-size: larger;
  background-color: rgb(90, 51, 51);
  color: rgb(202, 181, 155);
}
.history{
  display: none;
  margin-left: 100px;
  background-color: rgb(49, 97, 49);
  padding: 50px;
  color: rgb(170, 170, 170);
}

.history li {
  list-style: none;
  font-size: larger;
}
.history li button{
  margin-left: 40px;
}
